# Tuist generated
*.xcodeproj
*.xcworkspace
Derived/

# Tuist binaries and build cache
.tuist-bin/
Tuist/.build/
.build/

# SPM
.swiftpm/

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
DerivedData/

# macOS
.DS_Store
